@import _root_.atomflow.model._
@(events: List[Event])
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" HREF="../static/last.css" type="text/css">
    </head>
    <body>    
        <table class="event-list">
            <tr><th>Atom ID</th><th>Event type</th><th>Status</th></tr>
            @for(ev <- events) {
                       <tr class="event-@ev.status">
                           <td>@ev.atomId</td>
                           <td>@ev.eventType</td>
                           <td>@ev.status</td>
                       </tr>
                       }
        </table>
    </body>
</html>
